<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>TAU Explorer</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/taucommon.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <style media="screen">
  table {
    min-height: .01%;
    overflow-x: auto;
    width: 100%;
    overflow-y: hidden;
    max-width: 100%;
    }
    table td{
        word-break: break-all;
    }
  </style>
</head>
<body>
{% include 'nav.html' %}

  <div class="container">
    <div class="section">
        {% include 'searchcomponent.html' %}
      <div class="row" style="overflow-x: auto;overflow-y: hidden;">
          <div class="col l10 offset-l1" >
              <table style="overflow-y: hidden;overflow-x:auto;min-width:640px;">
                  <thead>
                      <tr colspan="4">TAU block: {{blockdata.blockhash}}</tr>
                      <tr>
                          <th>Height</th>
                          <th>BlockHash</th>
                          <th>Difficulty</th>
                          <th>Timestamp</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td><a href="/block/{{blockdata.blockhash}}">{{blockdata.blockheight}}</a></td>
                          <td><a href="/block/{{blockdata.blockhash}}">{{blockdata.blockhash}}</a></td>
                          <td>{{blockdata.difficulty}}</td>
                          <td>{{blockdata.txtime}}</td>
                      </tr>
                      <!-- {% if datas%}
                          {% for data in datas%}
                          <tr>
                              <td><a href="/block/{{data.blockhash}}">{{data.blockheight}}</a></td>
                              <td><a href="/block/{{data.blockhash}}">{{data.blockhash}}</a></td>
                              <td>{{data.difficulty}}</td>
                              <td>{{data.txtime}}</td>
                          </tr>
                          {% endfor %}
                          {% else%}
                          <tr>
                              no records
                          </tr>
                      {% endif %} -->
                  </tbody>
              </table>
          </div>
      </div>
      <div class="row" style="overflow-x: auto;overflow-y: hidden;">
          <div class="col l10 offset-l1" >
              <table style="overflow-y: hidden;overflow-x:auto;min-width:640px;">
                  <thead>
                      <tr colspan="3">Latest transactions</tr>
                      <tr>
                          <th>Tx Hash</th>
                          <th>Recipients</th>
                          <th>Amount (TAU)</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for data in datas%}
                      <tr>
                          <td><a href="/tx/{{data.txhash}}">{{data.txhash}}</a></td>
                          <td>1</td>
                          <td>{{data.amount}}</td>
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
          </div>
      </div>

      {% include 'pagination.html' %}
    </div>
    <br><br>
  </div>
{% include 'footer.html' %}

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>
  <script src="{% static 'js/taucommon.js' %}"></script>
  </body>
</html>
